.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > th,
.table > thead > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 0.5rem;
}
.content-header {
    padding: 0 0 1rem;
}
.alert {
    padding: 0.5rem 0.5rem;
}
.form-group {
    margin-bottom: 0.5rem;
}
.footer-wrapper {
    width: 96%;
}
.dashboardpatients {
    height: 218px;
    /* overflow: scroll; */
}
.dashboardchart {
    height: 250px;
}
.vtabs .tab-content {
    display: block;
}
/* table.dataTable {
    border-collapse: collapse !important;
} */
/* @media print {
    table {
        width: 100%; /* Ensure the table fits within the page width */
/*    page-break-inside: auto; /* Prevent page breaks inside the table */
/*  }
    thead {
        display: table-header-group;
    } /* Repeat table header on each page */
/*  tfoot {
        display: table-footer-group;
    } /* Repeat table footer on each page */
/*} */

@media (max-width: 857px) {
    .dental-chart {
        transform: scale(0.8);
    }
    .tooth_body {
        border: 1px solid;
        overflow: scroll;
        justify-content: flex-start;
        width: calc(75vw);
    }
    .teethrow {
        flex-wrap: nowrap;
    }
    .select-chart {
        right: 0;
        padding-right: 0;
        gap: 0;
        top: 1.5rem;
    }
    .select-div {
        height: 60px;
    }
}
@media (max-width: 767px) {
    .modal {
        z-index: 10000;
    }
    .layout-top-nav .main-header div.logo-box {
        margin-top: 1rem;
    }
    .footer-wrapper {
        width: 98%;
    }
    .treat_personal_info_div {
        flex-direction: column;
    }
    .treat_other_info_div {
        flex-direction: column;
        margin: 0;
    }
    .treat_patient_photo {
        align-self: flex-start !important;
    }
    .treat_patient_info {
        width: 100% !important;
    }
    .tooth_body {
        width: 65%;
        border: 1px solid;
        overflow: scroll;
        justify-content: flex-start;
        width: calc(65vw);
    }
    .teethrow {
        flex-wrap: nowrap;
    }
    .select-chart {
        right: 0;
        padding-right: 0;
        gap: 0;
        top: 1.5rem;
    }
    .staffview_header {
        width: 100%;
    }
    .invoice-details {
        flex-direction: column;
        gap: 0.1rem;
        gap: 0.2rem;
    }
    .invoice-details.flexbox > * {
        margin-left: 0;
    }
    .doctodaydash {
        flex-direction: column;
        gap: 2px;
        gap: 4px;
        align-items: start !important;
    }
    .dashboarddoclistdiv {
        flex-direction: column;
        gap: 2px;
    }
}

@media screen and (max-width: 991px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
    }
    .table > thead > tr > td,
    .table > thead > tr > th {
        white-space: nowrap !important;
    }
}

@media (max-width: 1199px) {
    /* div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: center;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center !important;
    } */
    .table > thead > tr > td,
    .table > thead > tr > th {
        white-space: nowrap !important;
    }
}
