.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > th,
.table > thead > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
    padding: 0.5rem;
}
.content-header {
    padding: 0 0 1rem;
}
.alert {
    padding: 0.5rem 0.5rem;
}
.form-group {
    margin-bottom: 0.5rem;
}
