.tooth_body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* height: 50vh; */
    margin: 0;
    /* background-color: #f0f0f0; */
    background-color: #fff;
    background-color: transparent;
}

.dental-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Adjust the gap between rows */
    gap: 0;
    object-fit: contain;
    /* transform: scale(0.9); */
}

.row {
    display: flex;
    gap: 5px; /* Adjust the gap between teeth */
    gap: 0;
}

.tooth {
    width: 50px; /* Adjust width and height as needed */
    /* height: 50px; */
    background-color: white;
    background-color: transparent;
    /* border: 1px solid white; */
    background-color: #fff;
    background-color: transparent;
}

.tooth {
    /* width: 100px; /* Adjust the width of the div */
    /* height: 100px; /* Adjust the height of the div */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.tooth img {
    max-width: 100%;
    height: auto;
}

.tooth {
    /*  width: 100px; /* Adjust the width of the div */
    /*   height: 100px; /* Adjust the height of the div */
    overflow: hidden;
}
.tooth img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
}

.select-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    object-fit: contain;
}
.select-div {
    /* width: 100px; */
    height: 100px;

    justify-content: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.teeth_image:hover {
    cursor: pointer;
    /* border: 1px solid red; */
}

.circle {
    width: 100px;
    /* Adjust circle size */
    height: 100px;
    border-radius: 50%;
    /* Make it a circle */
    overflow: hidden;
    /* Ensure image stays within circle */
    background-color: white;
    /* Set background to white */
    display: inline-block;
    /* Ensure circle doesn't expand unnecessarily */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Optional: Add shadow for depth */
}

.teeth_image {
    width: 100%;
    /* Ensure image fills the circle */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove any default spacing */
}

.rowbordered {
    border: 1px solid green;
}

.molar {
    background-color: #e8e8e8; /* Color for normal adult teeth */
    background-color: white;
    background-color: transparent;
    background-color: #fff;
    background-color: transparent;
}

.inccan {
    background-color: #b3d7ff;
    background-color: transparent;
    background-color: #fff;
    background-color: transparent;
}

.normal {
    background-color: #f7e9e9;
    background-color: transparent;
    background-color: #fff;
    background-color: transparent;
}

.pediatric {
    background-color: #b3d7ff; /* Color for pediatric teeth */
    background-color: transparent;
    background-color: #fff;
    background-color: transparent;
}

.t_img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    /* width: 150px;
    width: 50px; */
    height: 80px;
}

.t_img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img-body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
}

.sqaure-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #ccc;
}

.dparts-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 2px solid #ccc;
    display: flex;
    background-color: black;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.dparts {
    position: absolute;
    /* outline: 5px solid red; */
}

.part-left {
    clip-path: polygon(0% 0%, 0% 100%, 33% 50%);
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.part-top {
    clip-path: polygon(1% 0%, 99% 0%, 65% 50%, 34% 50%);
    background-color: blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.part-right {
    clip-path: polygon(100% 0%, 100% 100%, 66% 50%);
    background-color: yellow;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.part-bottom {
    clip-path: polygon(34% 51%, 65% 51%, 99% 100%, 1% 100%);
    background-color: yellowgreen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.dpart-left {
    clip-path: polygon(0 1%, 34% 35%, 34% 65%, 0 99%);
    background-color: red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.dpart-top {
    clip-path: polygon(1% 0, 99% 0, 65% 34%, 36% 34%);
    background-color: blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(0% 0, 100% 0, 65% 34%, 35% 34%);
    clip-path: polygon(0% 0, 100% 0, 66% 34%, 34% 34%);
}

.dpart-right {
    clip-path: polygon(66% 36%, 100% 1%, 100% 99%, 66% 64%);
    background-color: yellow;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(66% 35%, 100% 1%, 100% 99%, 66% 65%);
}

.dpart-bottom {
    clip-path: polygon(36% 66%, 65% 66%, 99% 100%, 1% 100%);
    background-color: yellowgreen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: polygon(34% 66%, 66% 66%, 100% 100%, 0% 100%);
}

.dpart-center {
    /* clip-path: polygon(36% 36%, 64% 36%, 64% 64%, 36% 36%); */
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* clip-path: polygon(28% 33%, 80% 35%, 78% 67%, 29% 67%); */
    clip-path: polygon(36% 36%, 64% 36%, 64% 64%, 36% 64%);
    /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); */
    clip-path: polygon(35% 35%, 65% 35%, 65% 65%, 35% 65%);
}
.overlay {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-color: rgba(0, 0, 255, 0.1); /* Glassy blue background */
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    pointer-events: none; /* Ensures clicks pass through to image */
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure text is above main content */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* Text color */
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    display: block; /* Initially hidden */
}

/*add ons for responsiveness */
@media all and (max-width: 1200px) {
    .dental-chart {
        transform: scale(0.9);
    }
}

@media all and (max-width: 1100px) {
    .dental-chart {
        transform: scale(0.8);
        width: max-content;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

/*add ons for responsiveness */
@media all and (max-width: 1000px) {
    .dental-chart {
        /* transform: scale(0.7); */
    }
}

/*add ons for responsiveness */
@media all and (max-width: 936px) {
    .dental-chart {
        /* transform: scale(0.6); */
    }
}

@media all and (max-width: 600px) {
    .dental-chart {
        /* transform: scale(0.5); */
    }
}

.tooth_parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-columns: repeat(10, 0.5fr);
    grid-template-columns: repeat(10, 0.1fr);
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(5, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 1px;
    border: 1px solid blueviolet;
    height: 500px;
    width: 700px;
    /* background-color: violet; */
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(5, 0.2fr);
    grid-template-columns: repeat(10, 50px);
    grid-column-gap: 1px;
}

.tooth_parent > div {
    /* border: 1px solid yellow; */
    /* height: 50px; */
    /* width: 50px; */
    background-color: red;
    background-color: #fff;
    background: transparent;
}

.teeth_div1 {
    grid-area: 2/1/3/2;
}
.teeth_div2 {
    grid-area: 2/2/3/3;
}
.teeth_div3 {
    grid-area: 2/3/3/4;
}
.teeth_div4 {
    grid-area: 2/4/3/5;
}
.teeth_div5 {
    grid-area: 2/5/3/6;
}
.teeth_div6 {
    grid-area: 2/6/3/7;
}
.teeth_div7 {
    grid-area: 2/7/3/8;
}
.teeth_div8 {
    grid-area: 2/8/3/9;
}
.teeth_div9 {
    grid-area: 2/9/3/10;
}
.teeth_div10 {
    grid-area: 2/10/3/11;
}
.teeth_div11 {
    grid-area: 4/1/5/2;
}
.teeth_div12 {
    grid-area: 4/2/5/3;
}
.teeth_div13 {
    grid-area: 4/3/5/4;
}
.teeth_div14 {
    grid-area: 4/4/5/5;
}
.teeth_div15 {
    grid-area: 4/5/5/6;
}
.teeth_div16 {
    grid-area: 4/6/5/7;
}
.teeth_div17 {
    grid-area: 4/7/5/8;
}
.teeth_div18 {
    grid-area: 4/8/5/9;
}
.teeth_div19 {
    grid-area: 4/9/5/10;
}
.teeth_div20 {
    grid-area: 4/10/5/11;
}
.teeth_div21 {
    grid-area: 1/4/2/5;
}
.teeth_div22 {
    grid-area: 1/5/2/6;
}
.teeth_div23 {
    grid-area: 1/6/2/7;
}
.teeth_div24 {
    grid-area: 1/7/2/8;
}
.teeth_div25 {
    grid-area: 5/4/6/5;
}
.teeth_div26 {
    grid-area: 5/5/6/6;
}
.teeth_div27 {
    grid-area: 5/6/6/7;
}
.teeth_div28 {
    grid-area: 5/7/6/8;
}

.dparent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 2px;
    height: 500px;
    width: 700px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.div3 {
    grid-area: 1 / 3 / 2 / 4;
}
.div4 {
    grid-area: 1 / 4 / 2 / 5;
}
.div5 {
    grid-area: 1 / 5 / 2 / 6;
}
.div6 {
    grid-area: 1 / 6 / 2 / 7;
}
.div7 {
    grid-area: 1 / 7 / 2 / 8;
}
.div8 {
    grid-area: 1 / 8 / 2 / 9;
}
.div9 {
    grid-area: 1 / 9 / 2 / 10;
}
.div10 {
    grid-area: 1 / 10 / 2 / 11;
}
.div11 {
    grid-area: 1 / 11 / 2 / 12;
}
.div12 {
    grid-area: 1 / 12 / 2 / 13;
}
.div13 {
    grid-area: 2 / 3 / 3 / 4;
}
.div14 {
    grid-area: 2 / 4 / 3 / 5;
}
.div15 {
    grid-area: 2 / 5 / 3 / 6;
}
.div16 {
    grid-area: 2 / 6 / 3 / 7;
}
.div17 {
    grid-area: 2 / 7 / 3 / 8;
}
.div18 {
    grid-area: 2 / 8 / 3 / 9;
}
.div19 {
    grid-area: 2 / 9 / 3 / 10;
}
.div20 {
    grid-area: 2 / 10 / 3 / 11;
}
.div21 {
    grid-area: 4 / 3 / 5 / 4;
}
.div22 {
    grid-area: 4 / 4 / 5 / 5;
}
.div23 {
    grid-area: 4 / 5 / 5 / 6;
}
.div24 {
    grid-area: 4 / 6 / 5 / 7;
}
.div25 {
    grid-area: 4 / 7 / 5 / 8;
}
.div26 {
    grid-area: 4 / 8 / 5 / 9;
}
.div27 {
    grid-area: 4 / 9 / 5 / 10;
}
.div28 {
    grid-area: 4 / 10 / 5 / 11;
}
.div29 {
    grid-area: 5 / 1 / 6 / 2;
}
.div30 {
    grid-area: 5 / 2 / 6 / 3;
}
.div31 {
    grid-area: 5 / 3 / 6 / 4;
}
.div32 {
    grid-area: 5 / 4 / 6 / 5;
}
.div33 {
    grid-area: 5 / 5 / 6 / 6;
}
.div34 {
    grid-area: 5 / 6 / 6 / 7;
}
.div35 {
    grid-area: 5 / 7 / 6 / 8;
}
.div36 {
    grid-area: 5 / 8 / 6 / 9;
}
.div37 {
    grid-area: 5 / 9 / 6 / 10;
}
.div38 {
    grid-area: 5 / 10 / 6 / 11;
}
.div39 {
    grid-area: 5 / 11 / 6 / 12;
}
.div40 {
    grid-area: 5 / 12 / 6 / 13;
}
.flex-container {
    /* display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center; */
    display: flex;
    /* background-color: #bbdefb; */
    height: 100%;
    /* padding: 15px; */
    /* gap: 5px; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.flex-container > div {
    /* background: #ffecb3; */
    /* border: 3px solid #ffcc80; */
    /* padding: 8px; */
    /* background: white; */
    /* background: transparent; */
}
.teeth_img {
    flex-grow: 3;
    width: 100px; /* Adjust the width as per your requirement */
    height: auto;
    width: 75px;
    height: 75px;
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    background-color: white;
    /* border-radius: 20px; */
    border: 1px solid violet;
    overflow: hidden;
    display: inline-block; /* Ensure circle doesn't expand unnecessarily */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.teeth_tit {
    flex-grow: 1;
}
.tooth_ico {
    flex-grow: 2;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.tooth_ico img {
    border-radius: 50%;
}
